
<div class="col-md-3"></div>
<div class="col-md-6"</div>

  <%= bootstrap_form_for@post  do |f| %>

  <%= f.text_field :title %>

  <%= f.text_field :contact_email %>

  <%= f.text_area :description %>

<center>
  <%= f.submit %>
</center>
<% end %>
