
<div class="col-md-3"></div>
<div class="col-md-6"</div>

<%= bootstrap_form_for @post  do |f| %>

	<%= f.text_field :title, label: "The Secret" %>

 	<%= f.text_area :description, label: "Secret Details"%>




	<%# if current_ouser.posts.size < 0 %>
		<%# current_ouser.posts.each do |post| %>
				<%# post.recipients.each do |recipient| %>
						<%#= recipient.email %>

				<%# end %>
			<%# end %>
	<%# end %>

	<% emails = []	%>

<% @post.recipients.each do |recipient| %>

<% emails << recipient.email %>



	<% end %>

 	<%= f.text_field :emails, value: emails.join(','), 'data-role' => 'tagsinput', label: "Recipient Emails" %>
		<center>
	  		<%=  f.primary "Save Secret" %>
		</center>




<% end %>
