<div class="blue-grey lighten-4 inset-shadow">
	<div class = "row">
		<div class="col s8 offset-s1">
			<h1 class="text-shadow">Hi, <%=@current_ouser.name %></h1>
		</div>
	</div>
</div>
<div class = "row ">
	<div class="card-panel col s12 lighten-5 blue-grey inset-shadow">


<div class="card-panel col s12 secrets grey lighten-5">




		<div class="col s12">
			<% if @current_ouser.posts.length == 0 %>
				<h5 class=" lighten-5 blue-grey-text"> Add Some Secrets to get started. </h5>
				<p class="flow-text"> Secrets can be online account passwords, letters, financial imformation, instructions for others, or even personal thoughts.
			<% end %>

			<% if @current_ouser.latitude && @current_ouser.longitude %>
				<% if @current_ouser.posts.length > 0 %>
					<div class="col s12">
						<div class="col s6 map">
							<br>
							<div id = "googleMap"></div>
						</div>
				<% end %>
					<div class="row">
						<div class="col s6 offset-s center">
							<% if @current_ouser.posts.length > 0 %>
								<h5>
									Your secrets will be delivered in <%=  time_ago_in_words(@current_ouser.updated_at + 30.days)%>
								</h5>
								<h6 class="bold italic">
									Last Check was from:
										latitude <%= @current_ouser.latitude.round(3) %>, &
										longitude <%= @current_ouser.longitude.round(3) %>

								 <%=  time_ago_in_words(@current_ouser.updated_at)%> ago.
								</h6>


							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<div class = "row">
				<div class ="col s12 secret-buttons">

						<a href="/posts/new" class="btn waves-effect waves-light grey darken-4 tooltipped" data-position="top" data-delay="10" data-tooltip="New Secret" id="new-secret"><i class="fa fa-plus"></i> New Secret</a>
						<% if @current_ouser.posts.length > 0 %>
							<a class = "btn waves-effect waves-light indigo darken-3 z-depth-1 tooltipped" data-position="top" data-delay="10" data-tooltip="Check in"  id ="okbtn" >
								<i class ="" id='spinner' ></i>
							</a>
						<% end %>
					</div>
				</div>



	</div>

	<% if @current_ouser.posts.length > 0 %>
		<div class="card-panel col s12 secrets-acc grey lighten-5">
			<div class="row">
				<div class="col s12">
					<h3 class="text-shadow"> Secrets</i>
					<i class="fa fa-lock"></i>
					 </h3>
				</div>
			</div>
		<% end %>

		<% if @current_ouser.posts.size > 0  %>
			<%#= render 'layouts/accordian' %>

		<ul class="collapsible popout" data-collapsible="accordion">
		    <% @posts.each do |post| %>
		      <li>
		        <div class="collapsible-header">
							<div class="row">
							<div class="col s10 blackFont">
								<%=post.title%>
							</div>
							<div class="col s2">
								<%= link_to "edit", edit_post_path(post.id), class:"edit-link"%>
							</div>
						</div>
						</div>
		        <div class="collapsible-body">

								<p class="flow-text"><%= post.description %></p>
								<!-- <h6> -->
								<div class="collapsible-header color">
									<% post.recipients.each do |r| %>
										<%= r.email %>
										<% end %>
								</div>
							<!-- </h6> -->
								<div class="collapsible-header">
								<h6>
									<div class="modify">


									<a class="fa fa-trash-o trash-link" rel="nofollow" data-method="delete" href="/posts/<%=post.id%>"> Delete</a>
								</div>
								</h6>
							</div>


		      </li>

				<% end %>
		  </ul>
	<% end %>
	</div>


</div>


</div>
<div class = "italic center">
	<p>"Secrets are things we give to others to keep for us." - Elbert Hubbard</p>
</div>
