<div class="blue-grey lighten-4 inset-shadow">
	<div class = "row">
		<div class="col s8 offset-s1">
			<h1 class="text-shadow">Hi, <%=@current_ouser.name %></h1>
		</div>
	</div>
</div>
<div class = "row ">
	<div class="card-panel col s12 lighten-5 blue-grey inset-shadow">


<div class="card-panel col s12 secrets grey lighten-5">
		<br>



		<div class="col s12">
			<% if @current_ouser.latitude && @current_ouser.longitude %>
					<div class="col s12">
						<div class="col s6 map">
							<div id = "googleMap"></div>
						</div>
					<div class="row">
						<div class="col s6 offset-s center">
							<h5>
								Your secrets will be delivered in <%=  time_ago_in_words(@current_ouser.updated_at + 10.minutes)%>
							</h5>
							<h6 class="bold italic">
								Last Check was from:
									latitude <%= @current_ouser.latitude.round(3) %>, &
									longitude <%= @current_ouser.longitude.round(3) %>

							 <%=  time_ago_in_words(@current_ouser.updated_at)%> ago.
							</h6>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<div class = "row">
				<div class ="col s12 secret-buttons">

						<a href="/posts/new" class="btn waves-effect waves-light grey darken-4" id="new-secret"><i class="fa fa-plus"></i> New Secret</a>

						<a class = "btn waves-effect waves-light indigo darken-3 z-depth-1" id ="okbtn" >
							<i class ="" id='spinner' ></i>
						</a>

					</div>
				</div>



	</div>
	<div class="card-panel col s12 secrets-acc grey lighten-5">
		<div class="row">
			<div class="col s12">
				<h3 class="text-shadow"> Secrets</i> </h3>
			</div>
		</div>

		<% if @current_ouser.posts.size > 0  %>
			<%#= render 'layouts/accordian' %>
		<% end %>
		<ul class="collapsible popout" data-collapsible="accordion">
		    <% @posts.each do |post| %>
		      <li>
		        <div class="collapsible-header">
							<div class="row">
							<div class="col s8">
								<i class="fa fa-lock"></i><%=post.title%>
							</div>
							<div class="col s2">
								<%= link_to "edit", edit_post_path(post.id), class:"edit-link"%>
							</div>
						</div>
						</div>
		        <div class="collapsible-body">

							<div class="flow-text"><p><%= post.description %></p>
								<h6>
								<div class="collapsible-header">
									<% post.recipients.each do |r| %>
										<%= r.email %>
										<% end %>
								</div>
							</h6>
								<div class="collapsible-header">
								<h6>
									<div class="modify">


									<a class="fa fa-trash-o trash-link" rel="nofollow" data-method="delete" href="/posts/<%=post.id%>"> Delete</a>
								</div>
								</h6>
							</div>
						</div>

		      </li>

				<% end %>
		  </ul>

	</div>


</div>


</div>
<div class = "italic center">
	<p>"Secrets are things we give to others to keep for us." - Elbert Hubbard</p>
</div>

<!-- <div class = "current_user">
	<h1>Hi, <%=@current_ouser.name %></h1>
</div>
<div class = "secrets_wrapper">

	<div class = "secrets">

		<div class = "secrets_content">

			<% if @current_ouser.latitude && @current_ouser.longitude %>

		    <div id = "googleMap"></div>
			<h3>
				<div class = "last_update">
					Your secrets will be delivered in <%=  time_ago_in_words(@current_ouser.updated_at+10.minutes)%>
					<h5>
					Last Check in from:
						latitude <%= @current_ouser.latitude.round(3) %>, &
						longitude <%= @current_ouser.longitude.round(3) %>
					</h5>
				</div>
			</h3>
			<% end %>

			<div class = "secret_buttons">
				<%= link_to'<i class="fa fa-plus"> New Secret</i>'.html_safe, new_post_path, class:'ui button inverted large'  %>

				<% if @current_ouser.posts.size > 0  %>

				<a class = "ui blue button large invert" id ="okbtn" >
					<i class ="" id='spinner' ></i>
				</a>


				<% end %>
				<br><br>
				<div class = "italic2">
					<p>"Secrets are things we give to others to keep for us." - Elbert Hubbard</p>
				</div>
			</div>



		</div>
	</div>
	<div class = "secret_posts">
		<span class="glyphicon glyphicon-briefcase"></span>
		<% if @current_ouser.posts.size > 0  %>
			<%#= render 'layouts/accordian' %>
		<% end %>
	</div>


</div>



<p id = "location"></p> -->
