<!DOCTYPE html>
<html>
<head>
  <title>MySecrets</title>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->

</head>

  <%= render 'layouts/nav' %>



  <body class="<%= controller_name %> <%= action_name %>">
      <div class="container">
      <%= yield %>

        </div>
  </body>
</html>
